.about-block {
    position: relative;
    color: $text-color;
    max-width: rem(700);
    width: 100%;
}

.about-block__title {
    font-size: rem(30);
    font-weight: $bold;
    line-height: 1;
    @include mq("md") {
        font-size: rem(24);
    }
}

.about-block__text {
    font-size: rem(18);
    line-height: 1.66667;
    letter-spacing: 0.02em;
    font-weight: $normal;
    margin-top: rem(19);
    @include mq("md") {
        font-size: rem(14);
    }
}

.about-block__img {
    position: absolute;
}

.about-block__img.about-block__img--1 {
    width: rem(355);
    top: rem(-11);
    left: rem(-497);
    @include mq("img") {
        left: rem(-390);
    }
    @include mq("md") {
        width: rem(200);
        top: rem(140);
        left: calc(100% - 200px);
    }
}

.about-block__img.about-block__img--2 {
    width: rem(486);
    right: rem(-513);
    top: rem(-70);
    @include mq("inner") {
        display: none;
    }
    @include mq("md") {
        display: block;
        width: rem(200);
        top: rem(140);
        right: calc(100% - 200px);
    }
}

.about-block__img.about-block__img--3 {
    width: rem(374);
    left: rem(-501);
    top: rem(-45);
    @include mq("img") {
        left: rem(-390);
    }
    @include mq("md") {
        width: rem(200);
        top: rem(120);
        left: calc(100% - 200px);
    }
}

.about-block__img.about-block__img--4 {
    width: rem(418);
    top: rem(-22);
    right: rem(-485);
    @include mq("inner") {
        display: none;
    }
    @include mq("md") {
        display: block;
        width: rem(200);
        top: rem(140);
        right: calc(100% - 200px);
    }
}