.bg-star {
    margin-top: rem(-50);
    position: relative;
}

.bg-star::before {
    content: '';
    position: absolute;
    top: rem(7);
    left: 0;
    background-image: url(/assets/images/common/bg-left.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: calc(613 / 1440 * 100vw);
    height: calc(4980 / 1440 * 100vw);
    z-index: -999;
    max-height: rem(4972);
}

.bg-star::after {
    content: '';
    position: absolute;
    top: rem(219);
    right: 0;
    background-image: url(/assets/images/common/bg-right.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: calc(831 / 1440 * 100vw);
    height: calc(4095 / 1440 * 100vw);
    max-height: rem(4987);
    z-index: -999;
}