.content {
    position: relative;
    @include mq("md") {
        text-align: center;
    }
}

.content__title {
    color: $text-color;
    font-size: rem(50);
    font-weight: $bold;
    position: absolute;
    top: rem(195);
    left: calc(50% - 535px);//中央に寄せてから【50%】計算するとレスポンシブしやすくなる
    @include mq("md") {
        position: initial;
        top: 0;
        left: 0;
        font-size: rem(24);
    }
}

.content__title span {
    display: inline-block;
    position: relative;
}

.content__title span:nth-child(1) {
    top: rem(23);
    left: rem(7);
    transform: rotate(-14deg);
    @include mq("md") {
        top: initial;
        left: initial;
        transform: initial;
    }
}

.content__title span:nth-child(2) {
    top: rem(8);
    left: rem(4);
    transform: rotate(-12deg);
    @include mq("md") {
        top: initial;
        left: initial;
        transform: initial;
    }
}


.content__title span:nth-child(3) {
    top: rem(-9);
    transform: rotate(-6deg);
    @include mq("md") {
        top: initial;
        transform: initial;
    }
}


.content__title span:nth-child(4) {
    top: rem(-13);
    left: rem(-3);
    transform: rotate(5deg);
    @include mq("md") {
        top: initial;
        left: initial;
        transform: initial;
    }
}

.content__inner {
    padding-top: rem(260);
    max-width: rem(1410);
    width: 100%;
    margin: auto;
    @include mq("md") {
        padding-top: rem(40);
        max-width: rem(440);
    }
}

.content__items {
    background-image: url(/assets/images/common/content_bg.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 49.645389%;
    @include mq("md") {
        padding-top: 0;
        background-image: none;
    }
}

.content__item {
    position: absolute;
    @include mq("md") {
        position: relative;
        padding: 0 rem(20);
        margin: auto;
    }
}

.content__item +
.content__item {
    @include mq("md") {
        margin-top: rem(24);
    }
}

.content__item:nth-child(1) {
    top: rem(-160);
    left: calc(50% - #{rem(7)});
    transform: translateX(-50%);
    @include mq("md") {
        top: initial;
        left: initial;
        transform: translateX(0);
    }
}

.content__item:nth-child(2) {
    top: rem(285);
    left: rem(18);
    @include mq("md") {
        top: initial;
        left: initial;
    }
}

.content__item:nth-child(3) {
    top: rem(382);
    right: rem(10);
    @include mq("md") {
        top: initial;
        right: initial;
    }
}

.content__img {
    max-width: 100%;
    width: rem(427);
    position: relative;
    @include mq("md") {
        width: 100%;
    }
}

.content__subtitle {
    color: $text-color;
    font-weight: bold;
    font-size: rem(24);
    line-height: 1.66667;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


