.footer {
    color: #EBEBEB;
    background-image: url(/assets/images/common/footer-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    height: calc(128 / 1440 * 100vw);
    @include mq("md") {
        height: calc(34 / 375 * 100vw);
    }
}

.footer__copyright {
    text-align: center;
    font-size: rem(12);
    padding-top: (68/ 1440 * 100vw);
    letter-spacing: -0.0333em;
    @include mq("md") {
        padding-top: (13 / 375 * 100vw);
        font-size: rem(10);
    }
}