.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: (80 / 1440) * 100vw;
    padding: 0 (40 / 1440) *100vw;
    z-index: 9999;
    @include mq("md") {
        padding: 0 (20 / 767) * 100vw;
        height: (50 / 767) * 100vw;
    }
}

.header__title {
    width: (138 / 1440) *100vw;
    display: flex;
    align-items: center;
    height: inherit;
    @include mq("md") {
        width: rem(90);
    }
}

.header__logo {
    height: inherit;
    display: flex;
    align-items: center;
}