.movie {
    @include mq("md") {
        padding: 0 rem(50);
    }
}

.movie__img {
    max-width: rem(550);
    width: 100%;
    position: relative;
    margin: auto;
    @include mq("md") {
        max-width: rem(400);
    }
}

.movie__img::before {
    content: '';
    padding-top: 61.827957%;
    display: block;
}

.movie__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}