.recruit {

}

.recruit__inner {
    max-width: rem(1050);
    padding: 0 rem(25);
    margin: auto;
    @include mq("md") {
        max-width: rem(540);
    }
}

.recruit__title {
    color: $white;
    font-size: rem(28);
    font-weight: $bold;
    line-height: 1.2857142;
    position: relative;
    display: inline-block;
    @include mq("md") {
        font-size: rem(24);
    }
}

.recruit__title::after {
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: rem(-54);
    width: rem(29);
    height: rem(2);
    background-color: #63A8AD;
    position: absolute;
}

.recruit__items {
    margin-top: rem(51);
    @include mq("md") {
        margin-top: rem(24);
    }
}

.recruit__item {
    display: flex;
    color: white;
    @include mq("md") {
        flex-direction: column;
    }
}

.recruit__term {
    width: 100%;
    max-width: rem(200);
    font-size: rem(18);
    line-height: 2;
    font-weight: $bold;
    padding: rem(13) 0 rem(14);
    border-bottom: 2px solid #99D4D9;
    display: flex;
    align-items: center;
    @include mq("md") {
        max-width: initial;
        border-bottom: none;
        padding: rem(13) 0 0 0;
    }
}

.recruit__description {
    width: 100%;
    max-width: rem(790);
    font-size: rem(18);
    line-height: 2;
    padding-top: rem(13);
    padding-left: rem(34);
    padding-bottom: rem(15);
    margin-left: rem(10);
    border-bottom: 2px solid #EBEBEB;
    @include mq("md") {
        border-bottom: 1px solid #EBEBEB;
        margin-left: 0;
        padding-left: rem(12);
        padding-right: rem(12);
        font-size: rem(14);
    }
}

.recruit__item:first-child {
    .recruit__term {
        border-top: 2px solid #99D4D9;
        @include mq("md") {
            border-top: 1px solid #ebebeb;
        }
    }
    .recruit__description {
        border-top: 2px solid #EBEBEB;
        @include mq("md") {
            border-top: none;
        }
    }
}